@charset "UTF-8";
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  margin: 0;
  color: #ffffff;
}

h1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: Bold;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
@media (max-width: 768px) {
  h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }
}

h2 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: Bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: Bold;
  font-size: 28px;
  line-height: 56px;
  color: #ffffff;
}

h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

h5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

h6 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
}

.button {
  width: 220px;
  height: 55px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  cursor: pointer;
  transition: all 0.4s;
}

.button_bordered {
  background: #000000;
  border: 2px solid #bdae82;
  color: #bdae82;
}

.button_bordered:hover {
  color: #ffffff;
}

.button_colored {
  background: #bdae82;
  color: #000000;
  border: 2px solid #bdae82;
}

.button_colored:hover {
  color: #ffffff;
}

.icon {
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s;
}

.title__text {
  padding: 5px 21px;
  background-color: #000000;
  z-index: 2;
}

.title {
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .title {
    padding-bottom: 67px;
  }
}

.title__name {
  margin: 0px auto;
  text-align: center;
  max-width: 700px;
  position: relative;
}

.title__name:before {
  content: "";
  display: block;
  width: 275px;
  height: 2px;
  background: #bdae82;
  position: absolute;
  left: 0;
  top: 50%;
}
@media (max-width: 768px) {
  .title__name:before {
    width: 115px;
    left: 170px;
  }
}

.title__name:after {
  content: "";
  display: block;
  width: 275px;
  height: 2px;
  background: #bdae82;
  position: absolute;
  right: 0px;
  top: 50%;
}
@media (max-width: 768px) {
  .title__name:after {
    width: 115px;
    right: 170px;
  }
}

.title__name-portfolio {
  margin: 0px auto;
  text-align: center;
  max-width: 700px;
  position: relative;
}

.title__name-portfolio:before {
  content: "";
  display: block;
  width: 240px;
  height: 2px;
  background: #bdae82;
  position: absolute;
  left: 0;
  top: 50%;
}
@media (max-width: 768px) {
  .title__name-portfolio:before {
    width: 90px;
    left: 170px;
  }
}

.title__name-portfolio:after {
  content: "";
  display: block;
  width: 240px;
  height: 2px;
  background: #bdae82;
  position: absolute;
  right: 0;
  top: 50%;
}
@media (max-width: 768px) {
  .title__name-portfolio:after {
    width: 90px;
    right: 170px;
  }
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 100%;
}

.hamburger {
  display: none;
  position: relative;
  width: 50px;
  height: 28px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 0;
  right: 0;
}
.hamburger:after {
  bottom: 0;
  right: 0;
}

.hamburger__line {
  top: calc(50% - 1px);
}

.hamburger.active:before {
  transform: rotate(45deg);
}

.hamburger.active:after {
  transform: rotate(-45deg);
}

.hamburger__line.active {
  transform: scale(0);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-image: url(image/headerMax.png);
  background-repeat: no-repeat;
  background-position: center 0;
}
@media (max-width: 768px) {
  .header {
    background-image: url(image/headerBackTablet.png);
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 20px 64px 20px 60px;
  }
}

.icon_header {
  background-image: url(image/header.svg);
  width: 50px;
  height: 40px;
}
.icon_header:hover {
  background-image: url(image/header-hover.svg);
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 5rem;
}
.navigation_link {
  padding: 0 0 0 35px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.4s;
}
.navigation_link:hover {
  color: #bdae82;
}

.header-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right-container.active {
  top: 0;
}

.laguage {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 5rem;
}
.en-ru {
  margin: 0 20px 0 0;
  display: flex;
  list-style: none;
}

.lang:hover {
  transition: all 0.4s;
  color: #bdae82;
  cursor: pointer;
}

.lang-en:after {
  content: "/";
  padding-left: 18px;
  padding-right: 9px;
}
@media (max-width: 768px) {
  .lang-en:after {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.layout-4-column > * {
  flex-basis: 20%;
}
.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 31.5%;
}

.footer__container {
  background: #000000;
  padding: 50px 20px;
}
@media (max-width: 768px) {
  .footer__container {
    padding: 28px 42px;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
}

.left-container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .left-container {
    margin-bottom: 16px;
  }
}

.left-space-between {
  margin: 0 26px 0 0;
}
@media (max-width: 768px) {
  .left-space-between {
    margin: 0 20px 0 0;
  }
}

.left-container__icon-footer {
  background-image: url(image/social_icons/©.svg);
  width: 16px;
  height: 16px;
}

.left-container__year {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
}
@media (max-width: 768px) {
  .left-container__year {
    font-size: 20px;
    line-height: 24px;
  }
}

.left-container__link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 50px;
}
.left-container__link:hover {
  color: #bdae82;
}
@media (max-width: 768px) {
  .left-container__link {
    font-size: 20px;
    line-height: 24.2px;
  }
}

.central-container {
  text-align: center;
}
@media (max-width: 768px) {
  .central-container {
    margin-bottom: 24px;
  }
}

.central-row {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
}
.central-row:hover {
  color: #bdae82;
}
@media (max-width: 768px) {
  .central-row {
    line-height: 24.2px;
  }
}

.social__links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 7px 0 7px;
}
@media (max-width: 768px) {
  .social__links {
    padding-inline-start: 0;
  }
}

.social__icon {
  align-items: center;
  display: inline-block;
}

.icon-inst {
  background-image: url(image/social_icons/inst1.svg);
  width: 32px;
  height: 32px;
}
.icon-inst:hover {
  background-image: url(image/social_icons/inst2.svg);
}

.icon-facebook {
  margin: 0 0 0 20px;
  background-image: url(image/social_icons/fb1.svg);
  width: 32px;
  height: 32px;
}
.icon-facebook:hover {
  background-image: url(image/social_icons/fb2.svg);
}

.icon-twitter {
  margin: 0 0 0 20px;
  background-image: url(image/social_icons/tw1.svg);
  width: 32px;
  height: 32px;
}
.icon-twitter:hover {
  background-image: url(image/social_icons/tw2.svg);
}

.icon-pinterest {
  margin: 0 0 0 20px;
  background-image: url(image/social_icons/pinterest1.svg);
  width: 32px;
  height: 32px;
}
.icon-pinterest:hover {
  background-image: url(image/social_icons/pinterest2.svg);
}

.hero {
  background-image: url(image/headerMax.png);
  background-repeat: no-repeat;
  background-position: center -90px;
  height: 820px;
}
@media (max-width: 768px) {
  .hero {
    background-image: url(image/headerBackTablet.png);
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 500px;
  }
}

.hero__container {
  width: 470px;
  padding-top: 160px;
  padding-left: 80px;
}
@media (max-width: 768px) {
  .hero__container {
    padding-left: 60px;
    padding-top: 78px;
    width: 390px;
  }
}

.hero__title {
  margin: 0;
}

.hero__text {
  margin: 10px 0 25px 0;
  line-height: 165%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
}
@media (max-width: 768px) {
  .hero__text {
    line-height: 2.42rem;
    margin: 20px 0 60px 0;
  }
}

.skills {
  background: #000000;
}

.skills__wrapper {
  padding-bottom: 97px;
  padding-top: 98px;
}

@media (max-width: 768px) {
  .skill-cards > * {
    flex-basis: 50%;
  }
}

.skill-card {
  max-width: 280px;
}

.skill-card__icon {
  text-align: center;
}

.icon_digital {
  background-image: url(image/svg/camera1.svg);
  width: 62px;
  height: 50px;
  background-repeat: no-repeat;
}

.icon_video {
  background-image: url(image/svg/video1.svg);
  width: 60px;
  height: 50px;
}

.icon_retouch {
  background-image: url(image/svg/retouch1.svg);
  width: 66px;
  height: 50px;
}

.icon_audio {
  background-image: url(image/svg/mic1.svg);
  width: 32px;
  height: 50px;
}

.skill-card__title {
  text-align: center;
  margin: 50px 0 20px 0;
}
@media (max-width: 768px) {
  .skill-card__title {
    margin: 30px 0 20px 0;
  }
}

.skill-card__text {
  margin: 0 0 76px 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}
@media (max-width: 768px) {
  .skill-card__text {
    line-height: 22px;
  }
}

.portfolio {
  background: #000000;
  padding: 0 20px;
}

.portfolio__wrapper {
  padding-bottom: 100px;
}

.seasons {
  padding: 0 0 60px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 768px) {
  .seasons {
    justify-content: center;
    flex-wrap: wrap;
    width: 445px;
    margin: auto;
  }
}

.portfolio__block {
  gap: 25px;
}
@media (max-width: 768px) {
  .portfolio__block {
    justify-content: center;
    gap: 25px;
  }
}

.video {
  background: #000000;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .video {
    padding: 0px;
  }
}

.video__wrapper {
  padding-bottom: 100px;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player__video {
  background-image: url(image/video-player.png);
  background-repeat: no-repeat;
  background-position: center 0;
  width: 1400px;
  height: 705px;
}
@media (max-width: 768px) {
  .video-player__video {
    background-size: auto 418px;
    height: 418px;
    background-position-x: 1.1px;
  }
}

.button-round {
  background: transparent;
  border: none;
  position: absolute;
  background-image: url(image/svg/video-icon.svg);
  width: 130px;
  height: 130px;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  .button-round {
    background-image: url(image/svg/video-icoTablet.svg);
    width: 65px;
    height: 65px;
  }
}
.button-round:hover {
  background-image: url(image/svg/video-icon-hover.svg);
}
@media (max-width: 768px) {
  .button-round:hover {
    display: none;
  }
}

.price {
  background: #000000;
  padding: 0 20px;
}

.price__wrapper {
  padding-bottom: 27px;
}

@media (max-width: 768px) {
  .price-inblock > * {
    flex-wrap: wrap;
    flex-basis: 57%;
    margin: auto;
  }
}

.bigCard_bordered {
  border: 3px solid #bdae82;
}
@media (max-width: 768px) {
  .bigCard_bordered {
    margin-bottom: 50px;
  }
}

.bigCard__title {
  text-align: center;
  margin: 42px 0 20px;
}

.bigCard__price {
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #bdae82;
  margin: 0 0 22px;
}

.bigCard__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 36px;
}

.bigCard__button {
  text-align: center;
  padding-bottom: 43px;
}

.text {
  margin: 0;
}

.contacts {
  background-image: url(image/background_contact.jpeg);
  background-repeat: no-repeat;
  background-position: center 0;
}
@media (max-width: 768px) {
  .contacts {
    background-image: url(image/background_contact-tablet.jpeg);
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

.contact__image {
  height: 700px;
}
@media (max-width: 768px) {
  .contact__image {
    height: 600px;
  }
}

.form {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 450px;
  margin-left: auto;
}

.form__title {
  margin: 0;
  padding: 60px 0 38px;
}
@media (max-width: 768px) {
  .form__title {
    line-height: 64px;
    padding: 60px 0 40px;
  }
}

.form input, .form textarea {
  max-width: 450px;
  opacity: 0.5;
  background-color: #000000;
  display: block;
  border: 2px solid #bdae82;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  padding: 5px 200px 5px 20px;
}
.form textarea {
  max-height: 100px;
}
@media (max-width: 768px) {
  .form {
    margin-right: auto;
    padding: 0;
    text-align: center;
  }
}

.form__message {
  margin-bottom: 30px;
  resize: none;
}

.form__email {
  margin-bottom: 16px;
}

.form__tel {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .form__tel {
    margin-bottom: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
