@mixin columns3 ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  >* {
    flex-basis: $width;
  }
}

@mixin columns4 ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
  @include media-tablet {
    
  }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) { @content; }
}

