.contacts {
  background-image: url(image/background_contact.jpeg);
  background-repeat: no-repeat;
  background-position: center 0;
}

.contact__image {
  height: 700px;
}

.form {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 450px;
  margin-left: auto;
}

.form__title {
  margin: 0;
  padding: 60px 0 38px;
}

.form {
  input, textarea {
    max-width: 450px;
    opacity: .5;
    background-color: $colorBackground;
    display: block;
    border: 2px solid $color-brand;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: $color-brand;
    padding: 5px 200px 5px 20px;
  }
  textarea {
    max-height: 100px;
  }
  @include media-tablet {
    margin-right: auto;
    padding: 0;
    text-align: center;
    
  }
}

.form__message {
  margin-bottom: 30px;
  resize: none;
}

.form__email {
  margin-bottom: 20px;
}

.form__tel {
  margin-bottom: 15px;
}





