.price {
  background: $colorBackground;
  padding: 0 20px;
}

.price__wrapper {
  padding-bottom: 27px;
}

.price-inblock {
   >* {
    @include media-tablet {
      flex-wrap: wrap;
      flex-basis: 57%;
      margin: auto;
    }
  }
}

.bigCard_bordered {
  border: 3px solid $color-brand;
  @include media-tablet {
    margin-bottom: 50px;
  }
}

.bigCard__title {
  text-align: center;
  margin: 42px 0 20px;
}

.bigCard__price {
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: $color-brand;
  margin: 0 0 22px;
}

.bigCard__text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: $color-text;
  text-align: center;
  padding-bottom: 36px;
}

.bigCard__button {
  text-align: center;
  padding-bottom: 43px;
}

.text {
  margin: 0;
}