.skills {
  background: $colorBackground;
}

.skills__wrapper{
  padding-bottom: 30px;
  padding-top: 98px;
  @include media-tablet {
    margin-left: 35px;
    margin-right: 38px;
    padding-bottom: 107px;
  }
  
}

.skill-cards {
  @include media-tablet {
    >* {
      flex-basis: 48%;
    }
  }
}

.skill-card {
  max-width: 280px;
}

// .skill-card1 {
//   @include media-tablet {
//     padding-left: 17px;
//   }
// }

// .skill-card3 {
//   @include media-tablet {
//     padding-left: 17px;
//   }
// }

// .skill-card2 {
//   @include media-tablet {
//     padding-right: 20px;
//   }
// }

// .skill-card4 {
//   @include media-tablet {
//     padding-right: 20px;
//   }
// }

.skill-card__icon {
  text-align: center;
}

.icon_digital {
  background-image: url(image/svg/camera1.svg);
  width: 62px;
  height: 50px;
  background-repeat: no-repeat;
}  

.icon_video {
  background-image: url(image/svg/video1.svg);
  width: 60px;
  height: 50px;
}  

.icon_retouch {
  background-image: url(image/svg/retouch1.svg);
  width: 66px;
  height: 50px;
}

.icon_audio {
  background-image: url(image/svg/mic1.svg);
  width: 32px;
  height: 50px;
}

.skill-card__title {
  text-align: center;
  margin: 50px 0 20px 0;
  @include media-tablet {
    margin: 30px 0 20px 0;
  }
}

.skill-card__text {
  margin: 0  0  76px 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  @include media-tablet {
    line-height: 22px;
    margin: 0  0  70px 0;
  }
}

// .skill-card__icon1 {
//   @include media-tablet {
//     margin-left: 35px;
//   }
// }

// .kill-card__title1 {
//   @include media-tablet {
//     margin-left: 35px;
//   }
// }

// .skill-card__text1 {
//   @include media-tablet {
//     margin-left: 34px;
//   }
// }

// .skill-card__icon2 {
//   @include media-tablet {
//     margin-right: 40px;
//   }
// }

// .kill-card__title2 {
//   @include media-tablet {
//     margin-right: 40px;
//   }
// }

// .skill-card__text2 {
//   @include media-tablet {
//     margin-right: 18px;
//   }
// }
