.video {
  background: $colorBackground;
  padding: 0 20px;
  @include media-tablet {
    padding: 0px;
  }
}

.video__wrapper {
  padding-bottom: 100px;
}

.video-player{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player__video {
    background-image: url(image/video-player.png);
    background-repeat: no-repeat;
    background-position: center 0;
    width: 1400px;
    height: 705px;
  @include media-tablet {
    background-size: auto 418px;
    height: 418px;
    background-position-x: 1.1px;
     
    }
}

.button-round {
  background: transparent;
  border: none;
  position: absolute;
  background-image: url(image/svg/video-icon.svg);
  width: 130px;
  height: 130px;
  cursor: pointer;
  transition: all .4s;
  @include media-tablet {
    background-image: url(image/svg/video-icoTablet.svg);
    width: 65px;
    height: 65px;
  }
  &:hover {
    background-image: url(image/svg/video-icon-hover.svg);
    @include media-tablet {
      display: none;
    }
  }
}

