.video {
  background: $colorBackground;
  max-width: 1440px;
  margin: auto;
}

.video__wrapper {
  padding-bottom: 95px;
}

.video-player{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-round {
  background: transparent;
  border: none;
  position: absolute;
  background-image: url(image/svg/video-icon.svg);
  width: 130px;
  height: 130px;
  cursor: pointer;
  transition: all .4s;
  &:hover {
    background-image: url(image/svg/video-icon-hover.svg);
  }
}

