html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  margin: 0;
  color: $color-text;
}

h1 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: Bold;
  font-size: 60px;
  line-height: 120px;
  color: $color-text;
  @include media-tablet {
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }
}

h2 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: Bold;
  font-size: 40px;
  line-height: 80px;
  color: $color-brand;
  @include media-tablet {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: Bold;
  font-size: 28px;
  line-height: 56px;
  color: $color-text;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: $color-text;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: $color-text;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: $color-text;
}

