.header {
  background-image: url(image/headerMax.png);
  background-repeat: no-repeat;
  background-position: center 0;
  @include media-tablet {
    background-image: url(image/headerBackTablet.png);
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  @include media-tablet {
    padding: 20px 64px 20px 60px;
  }
}

.icon_header {
  background-image: url(image/header.svg);
  width: 50px;
  height: 40px;
  &:hover {
    background-image: url(image/header-hover.svg);
  }
}

.header__nav {
  @include media-tablet {
    display: none;
    
  }
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 5.0rem;
  @include media-tablet {
    
  }
}

.navigation_link {
  padding: 0  0  0 35px;
  text-decoration: none;
  color: $color-text;
  transition: all .4s;
  @include media-tablet {
    
  }
}

.navigation_link:hover {
  color: $color-brand;
}

.header-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-tablet {
    
    
  }
}

.header-right-container.active{
  top: 0;
  
}

.laguage {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 5.0rem;
  @include media-tablet {
    
  }
}

.en-ru {
  margin: 0 20px 0 0;
  display: flex;
  list-style: none;
}

.lang:hover {
  transition: all .4s;
  color: $color-brand;
  cursor: pointer;
}

.lang-en:after {
content: "/";
padding-left: 18px;
padding-right: 9px;
@include media-tablet {
  padding-left: 18px;
  padding-right: 18px;
 }
}
